<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <script type="text/javascript">
      API_ROOT = "<%= config.api %>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:300,300i,400,400i,500,500i" rel="stylesheet">
  </head>
  <body>
    <div id="appContainer"></div>
    <script src="<%= bundle %>"></script>
  </body>
</html>
